html {
    background-color: black
}

body {
    color: red
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  font-size: 50;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}